body {
  background-color: #35bbef;
}
.h2 {
  color: white;
  text-transform: uppercase;
  padding-top: 2rem;
  font-weight: 900;
  text-shadow: 0 2px 4px white, 2px 2px 4px rgb(19, 18, 18), 7px 1px 10px white,
    8px 2px 10px black, 4px 2px 4px black, 4px 2px 4px black;
  margin: 0;
  position: relative;
  display: inline-block;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.header.scrolled {
  position: fixed;
  top: 0;
  left: 0;
}
i.fa-search.menu_mm {
  color: white;
}
.header_search_button i:hover {
  color: #35bbef;
}
.header_search_button:hover i {
  color: #35bbef;
}
.menu_nav ul li a:hover {
  color: white;
}
.h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  margin-top: 2px;
  height: 3px;
  transition: width 0.3s ease;
  background-color: rgba(119, 191, 0, 255);
}
.h2:hover::before {
  width: 100%;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_container {
  width: 100%;
  background: rgba(11, 52, 75, 255);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  position: relative;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}
a {
  color: #35bbef;
}
.search_button {
  margin-left: 10px;
}
.search_button i {
  font-size: 20px;
  color: rgba(119, 191, 0, 255);
}
.footer_contact_title {
  color: rgba(11, 52, 75, 255);
}
.contact_info_title {
  color: rgba(11, 52, 75, 255);
}
.menu_extra {
  bottom: 50px;
}
.menu_social ul li a i {
  font-size: 20px;
}

.menu_social ul li a {
  color: rgba(119, 191, 0, 255);
  background-color: white;
  padding: 15px;
}
.menu_social ul {
  margin-top: 10px;
}
.menu_title {
  margin-bottom: 20px;
}
.header_content {
  height: 90px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.header.scrolled .header_content {
  height: 80px;
}
.main_nav li a {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 31px;
  background: rgba(11, 52, 75, 255);
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  text-transform: uppercase;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.main_nav li a:hover {
  box-shadow: 0 2px 4px white, 0 2px 4px white, 0 2px 4px white, 0 2px 4px white,
    0 2px 4px white, 0 2px 4px white;
}
.main_nav li a:hover,
.main_nav li.active a {
  color: white;
  background: rgba(119, 191, 0, 255);
  border-radius: 20px;
}
.copy_right {
  background-color: rgba(11, 52, 75, 255);
}
.title {
  color: white;
  text-transform: uppercase;
  text-shadow: 0 2px 4px black, 2px 2px 4px black, 7px 1px 6px black,
    8px 2px 10px white, 4px 2px 4px black, 4px 2px 4px white;
  margin: 0;
}
#ftco-loader {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;

  z-index: 1000;
}
.copy_right {
  height: 100%;
  padding-bottom: 1rem;
}
#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #35bbef;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#ftco-loader.show {
  -webkit-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow: 20px 0 white, -20px 0 #0002;
    background: white;
  }
  33% {
    box-shadow: 20px 0 white, -20px 0 #0002;
    background: #0002;
  }
  66% {
    box-shadow: 20px 0 #0002, -20px 0 white;
    background: #0002;
  }
  100% {
    box-shadow: 20px 0 #0002, -20px 0 white;
    background: white;
  }
}
.header_search_container {
  top: 100%;
  left: 0px;
  width: 100%;
  background: #2c2b31;
  z-index: 999;
  opacity: 0;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  margin-top: 0px;
}
.featured_content {
  background: none;
}
.featured_content::after {
  display: none;
}
.header_search_container.active {
  z-index: 1;
  opacity: 1;
}
.header_search_content {
  width: 100%;
  height: 80px;
  background-color: black !important;
}
/* */
.header.scrolled .header_search_container.active {
  margin-top: 0px;
}
.h1 {
  color: rgba(11, 52, 75, 255);
  text-transform: capitalize;
  padding-top: 2rem;
  font-weight: 900;
  font-size: 30px;
  text-shadow: 0 2px 4px white, 2px 2px 4px rgb(19, 18, 18), 7px 1px 10px white,
    8px 2px 10px black;
  margin: 0;
  position: relative;
  display: inline-block;
}
.featured_row {
  margin-top: 15px;
}
.featured_content {
  padding-top: 20px;
  padding-bottom: 10px;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px; */
}
.featured_text {
  color: rgba(11, 52, 75, 255);
  background-color: white;
  font-size: 20px;
  /* border: 1px solid rgba(11, 52, 75, 255); */
  padding: 8px;
  box-shadow: 0 2px 4px white, 0 3px 5px black;
}
@media (max-width: 768px) {
  .featured_content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 575px) {
  .featured_content {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}
.featured_row {
  /* border-bottom: 1px solid white; */
}
.fa-arrow-right {
  color: rgba(119, 191, 0, 255);
  font-size: 25px;
  margin-right: 15px;
}
/*whatsapp*/
.whatsapp-div {
  position: fixed;
  bottom: 10px;
  left: 15px;
  z-index: 999;
  animation: what 5s linear infinite;
  transition: 0.5s all;
}

.whatsapp-div a {
}

.whatsapp-div i {
  font-size: 2.5rem;
  padding: 10px;
  background-color: rgba(119, 191, 0, 255);
  color: white;
  border-radius: 50%;
  box-shadow: 0 2px 5px black, 0 3px 6px black, 0 4px 7px rgba(119, 191, 0, 255);
}

.whatsapp-div:hover i {
  background-color: #35bbef;
  color: white;
}

@keyframes what {
  0%,
  50% {
    margin-bottom: 3px;
    transform: scale(1.01);
  }

  100% {
    margin-bottom: 0px;
  }
}

.carousel-item img {
  background-color: white;
  margin-top: 3rem;
}

.detail-course .owl-item {
  box-shadow: 2px 4px 5px grey;
}

.detail-course .owl-item:hover {
  box-shadow: 0px 4px 5px #35bbef, 0px 4px 5px #35bbef, 0px 4px 5px #35bbef,
    0px 4px 5px #35bbef, 2px 4px 5px #35bbef, 2px 4px 5px #35bbef,
    0px 5px 10px #35bbef, 0px 5px 10px #35bbef;
  /* transform: scaleY(1.01); */
}

.more {
  /* width: 130px; */
}

.more a {
  color: #35bbef;
}

.more a:hover {
  text-decoration: underline;
}

.whatsapp-div p {
  box-shadow: 0 2px 4px black, 0 3px 5px black;
}

/* .whatsapp-div[title] {
  background-color: #35bbef;
} */
.topscroll {
  position: fixed;
  right: 15px;
  bottom: 10px;
  z-index: 999;
  display: none;
}

.topscroll i {
  background-color: rgba(119, 191, 0, 255);
  padding: 8px;
  font-size: 20px;
  color: rgba(11, 52, 75, 255);
  cursor: pointer;
  box-shadow: 0 2px 4px black, 0 3px 5px black;
}

.topscroll:hover i {
  background-color: white;
}

.cookie-banner {
  position: fixed;
  bottom: 10%;
  left: 20%;
  width: 50%;
  padding: 10px;
  background-color: #333333c5;
  color: #fff;
  text-align: center;
  z-index: 399;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* position: relative; */
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.fa-close {
  /* position: absolute;
  top: 0; */
  margin-left: 15px;
  cursor: pointer;
  font-size: 20px;
}
