body {
  background-image: linear-gradient(135deg, white 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-form {
  /* margin: 150px 150px 0px 100px;*/
  width: 500px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 20px 6px #090b6f85;
  height: 100%;
}
@media (max-width: 1080px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}

.box-form .left {
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.box-form .left .overlay {
  padding: 30px;
  width: 500px;
  height: 100%;
  background: rgba(11, 52, 75, 255);
  overflow: hidden;
  box-sizing: border-box;
}
.box-form .left .overlay h1 {
  font-size: 2rem;
  line-height: 1.928;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 20px;
}
.box-form .left .overlay span p {
  margin-top: 30px;
  font-weight: 900;
  word-break: break-all;
}
.box-form .left .overlay span a {
  background: rgba(119, 191, 0, 255);
  color: #ffffff;
  margin-top: 10px;
  padding: 14px 50px;
  border-radius: 100px;
  display: inline-block;
  box-shadow: 0 3px 6px 1px #042d4657;
}
.box-form .left .overlay span a:last-child {
  background: #1dcaff;
  margin-left: 30px;
}
.box-form .right {
  padding: 40px;
  overflow: hidden;
}
@media (max-width: 1400px) {
  .box-form .right {
    width: 400px;
  }
}
.box-form .right h5 {
  font-size: 3rem;
  line-height: 0;
}

.box-form .right h6 {
  font-size: 2vmax;
  line-height: 0;
}
.box-form .right p {
  font-size: 14px;
  color: #b0b3b9;
}
.box-form .text-account {
  font-family: robot;
  color: rgba(119, 191, 0, 255);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.box-form .right .inputs {
  overflow: hidden;
}
.box-form .right input {
  width: auto;
  padding: 5px;
  margin-top: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #b0b3b9;
}
.box-form .right .remember-me--forget-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-form .right .remember-me--forget-password input {
  margin: 0;
  margin-right: 7px;
  width: auto;
}
.box-form .right button {
  float: right;
  color: rgba(119, 191, 0, 255);
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 50px;
  display: inline-block;
  border: 1px solid rgba(119, 191, 0, 255);
  outline: 0;

  background-image: linear-gradient(135deg, white 100%);
}

.box-form .right button:hover {
  color: #ffffff !important;
  background: rgba(119, 191, 0, 255);
}

.box-form .right button a {
  color: rgba(119, 191, 0, 255);
  text-decoration: none;
}

.box-form .right button a:hover {
  color: #ffffff !important;
  background: rgba(119, 191, 0, 255);
}

label {
  display: block;
  position: relative;
  margin-left: 30px;
}

label::before {
  content: " \f00c";
  position: absolute;
  font-family: FontAwesome;
  background: transparent;
  border: 3px solid rgba(119, 191, 0, 255);
  border-radius: 4px;
  color: transparent;
  left: -30px;
  transition: all 0.2s linear;
}

label:hover::before {
  font-family: FontAwesome;
  content: " \f00c";
  color: #fff;
  cursor: pointer;
  background: rgba(119, 191, 0, 255);
}

label:hover::before .text-checkbox {
  background: #70f570;
}

label span.text-checkbox {
  display: inline-block;
  height: auto;
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear;
}

label input[type="checkbox"] {
  display: none;
}
.google-button {
  background-color: rgba(119, 191, 0, 255);
  border-width: 0;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  padding: 12px 35px;
  margin-left: 8px;

  display: inline-block;

  outline: 0;
  height: 49px;
  width: 180px;
}
@media (max-width: 992px) {
  .box-form {
    width: 100%;
  }
  .box-form .right {
    width: 100%;
  }
  .box-form .left .overlay {
    width: 100%;
  }
}
/*********************************
14. Footer
*********************************/

.footer {
  width: 100%;
  padding-top: 60px;
  border-top: 1px solid white;
  /*padding-bottom: 90px;*/
  /* background-color: rgba(11, 52, 75, 255); */
}
.footer .logo_container {
  /* position: absolute;
  top: -20px;
  left: 0; */
}
.footer .row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  align-items: center;
  /* display: flex;
  justify-content: space-between;
  align-items: flex-start; */
}
@media (max-width: 992px) {
  .footer .row {
    flex-wrap: wrap;
  }
}
.footer_about_text {
  padding-top: 49px;
}
.footer_social {
  margin-top: 22px;
}
.footer_links ul {
  list-style-type: none;
}
.footer_social ul li {
  display: inline-block;
}
.footer_social ul li:not(:last-child) {
  margin-right: 15px;
}
.footer_links ul li a {
  text-decoration: none;
}
.footer_social ul li a i {
  font-size: 20px;
  color: white;
  padding: 10px;
  border-radius: 50%;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  background-color: rgba(119, 191, 0, 255);
}
.footer_social ul li a i:hover {
  color: rgba(11, 52, 75, 255);
  background-color: white;
}
.copyright {
  font-size: 14px;
  font-weight: 500;
  color: rgb(145, 145, 249);
  margin-top: 10px;
}
.footer_title {
  font-size: 18px;
  display: inline-block;
  font-weight: 900;
  border-bottom: solid rgba(119, 191, 0, 255) 1px;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 2px 4px black, 2px 2px 4px black, 7px 1px 6px black,
    8px 2px 10px white, 4px 2px 4px black, 4px 2px 4px white;
  margin: 0;
}
.footer_list {
  margin-top: 26px;
}
.footer_list li:not(:last-child) {
  margin-bottom: 15px;
}
.footer_list li a {
  font-size: 18px;
  font-weight: 700;
  color: white;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.footer_list li a:hover {
  color: rgba(119, 191, 0, 255);
}
.footer_contact_info {
  padding-right: 70px;
  margin-top: 26px;
}
.footer_contact_item:not(:last-child) {
  margin-bottom: 23px;
}
.footer_contact_title {
  font-size: 15px;
  font-weight: 600;
  color: rgba(119, 191, 0, 255);
}
.footer_contact_line {
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 3px;
}
@media (max-width: 476px) {
  .home {
    height: 25vh;
  }
}
.logo_img img {
  width: 180px;
}
.copy_right {
  /* height: 80px; */
  width: 100%;
  padding-top: 30px;
  font-size: 16px;
  margin-top: 30px;
  /* padding-left: 15px; */
  padding-right: 15px;
  padding-bottom: 1rem;
  color: white;
  border-top: 1px solid white;
  background-color: rgba(11, 52, 75, 255);
  text-align: center;
  margin-left: -15px;
  margin-bottom: 0;
}
